[submodule "Frontend"]
	path = Frontend
	url = git@github.com:NTUT-Database-System-Course/ACW-Frontend.git
[submodule "Backend"]
	path = Backend
	url = git@github.com:NTUT-Database-System-Course/ACW-Backend.git
